<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="style.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About | TSF</title>
</head>
<body style="background-image: url(./background.jpg); ">
  <nav>
    <div class="logo">
      <img src="./mobile-banking.png" alt="TSF Bank">
      <h1>TSF </h1>
    </div>

    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="customer.html">Customers</a></li>
      <li><a href="about.html">About</a></li>
    </ul>
  </nav>

  <div id="branches">
    <h1>Our Branches</h1>
    <div id="boxes">
      <div class="box">
        <h2 style="color: white;">Singapore</h2>

      </div>
      <div class="box">
        <h2 style="color: white;">Gurgaon</h2>
        
        
      </div>
      <div class="box">
        <h2 style="color: white;">San Fransisco</h2>
        
        
        
      </div>

    </div>
  </div>

  <h1 style="color: white; text-align: center;" >Why Us?</h1>
  <div id="why-us">
    <h3>The TSF Bank has been winning trust of people for about 49 years now.</h3>
    <h3>This September, 9 we mark our glorious 50 years in the banking sector.</h3>
    <h3>We have always kept the customer first before everything and we intend to continue it.</h3>
    <h3>We have a well established network for customer support, the waiting time is </h3>
    <h3>less than 3 minutes and we have 4.2/5 rating in customer support.</h3> 
  </div>

</body>
</html>