<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="style.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About | The CSB</title>
</head>
<body style="background-image: url(./background.jpg); ">
  <nav>
    <div class="logo">
      <img src="./piggy-bank.png" alt="TSF Bank">
      <h1>CSB </h1>
    </div>

    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="customer.html">Customers</a></li>
      <li><a href="about.html">About</a></li>
    </ul>
  </nav>

  

  <h1 style="color: white; text-align: center;" >Why Us?</h1>
  <div id="why-us">
    <h3>The Chirag Suthar Bank has been winning trust of people for past 89 years now.</h3>
    <h3>We have always kept our precious customer our first prioirty for ages and that has got us to where we are today,</h3>
    <h3>the customers trust us and we own that trust. The trust is the one main thing that keeps us running and gives us boost to get up everyday and serve our precious Customers.</h3>
    <h3>We have been marked number 1 choice of customers for past 30 years straight.</h3>
<pre>















  


</pre>
  </div>

  <div id="branches">
    <h1>We do not have any branches.</h1>
  </div>

</body>
</html>
